body {
    font-family: Arial, Helvetica, sans-serif;
    color: #222;
  }
  
  .emoji {
    /*Card info: Flex column*/ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #222;
    border-radius: 8px;
    padding: 1rem;
    /* max-width: 25rem; */
  }
  
  .emoji h2 {
    margin: 0;
    border-bottom: 2px solid #ccc;
  }
  
  .emoji a {
    text-decoration: none;
    background-color: #781BAA;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    margin-top: auto;
    
  }
  
  .icon {
    font-size: 4rem;
  }

/*Title style*/
.siteheader {
    margin-left: 230px;
}

/*Emojis cards layout*/
.emojis {
display: grid;
grid-template-columns: repeat(2,1fr);
margin: 30px;
gap: 15px;
justify-items: center;
padding-right: 200px;
padding-left: 200px;
}

/*Icon on top with order property*/
.emoji .icon {
order: -1;
align-self: center;
}
